#signup-bg {
    background-image: url('../assets/services.png');
}

#signup-form input {
    background-color: #262626;
    border: none;
    border-bottom: solid 2px #555555;
    padding-bottom: 10px;
    margin-bottom: 40px;
    color: white;
    font-size: 25px;
}

#signup-form input::placeholder {
    font-size: 25px;
    color: #ffffff;
}

#signup-form button,
#login-button {
    font-size: 1.34rem;
    background-color: #3BAF4A;
    width: 130px;
}

#signup-container {
    background-color: #262626;
}